[submodule "modules/rundeck"]
	path = modules/rundeck
	url = https://github.com/voxpupuli/puppet-rundeck.git
[submodule "modules/staging"]
	path = modules/staging
	url = https://github.com/voxpupuli/puppet-staging.git
[submodule "modules/jdk_oracle"]
	path = modules/jdk_oracle
	url = https://github.com/tylerwalts/puppet-jdk_oracle.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = https://github.com/puppetlabs/puppetlabs-java_ks.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "modules/dirtree"]
	path = modules/dirtree
	url = https://github.com/puppetlabs/pltraining-dirtree.git
[submodule "modules/alternatives"]
	path = modules/alternatives
	url = https://github.com/voxpupuli/puppet-alternatives.git
